<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>

    <h1>Sign Up Form</h1>

    <p style="color: red" >{{msg}}</p>

    <form method="POST" action="/register">
        {% csrf_token %}
 
        <input type="text" name="name" placeholder="Your Name"><br>
        <input type="email" name="email" placeholder="Your Email"><br>
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="number" name="phone" placeholder="Your Phone No."><br>

        <input type="submit" value="Sign Up">

    </form>

    <p>Already Have an Account ?</p>
    <a href="/login">Login Now</a>

    
</body>
</html>